<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-6">
      <div class="logincard card text-center">
        <div class="card-header">
          <h4>Sign up</h4>
        </div>
          <div class="card-body">
            <%= link_to "Sign Up with Facebook", user_facebook_omniauth_authorize_path, class: "btn btn-primary" %>
            <div class="or">
              <hr>
              <span>OR</span>
            </div>
              <p class="text-with-highlight">Already a member? <%= link_to "Sign In", new_user_session_path, class:"btn btn-light" %></a></p>
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= devise_error_messages! %>
                <div class="form-group">
                  <%= f.label :fullname %><br />
                  <%= f.text_field :fullname, autofocus: true, class: "form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :password %>
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                  <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :password_confirmation %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
                </div>

                <div class="actions">
                  <%= f.submit "Sign up", class: "btn btn-info btn-block" %>
                </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
