<div class="row">
  <div class="col-md-3">
    <section>
      <%= comment.user.fullname %>
      <p>
        <span class="quiet"><small>
                            <%= remove_unwanted_words time_ago_in_words(comment.created_at)%> ago </small></span>
      </p>
    </section>
  </div>
  <div class="col-md-12 well">
    <p><%= comment.description %></p>
     <% if current_user == comment.user || logged_in?(:site_admin) %>
    <%= link_to 'Delete', [comment.video, comment], method: :delete, data: { confirm: 'Are you sure?' }%>
  <% end%>
    <hr />


  </div>
</div>
