<div class="container-fluid">

  <div class="row">
    <div class="col-md-12">
      <table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>User</th>
      <th>Comment</th>
      <th>Actions</th>
    </tr>

  </thead>
  <tbody>
    <% @comments.each do |c| %>
    <tr>
      <th scope="row"><%= c.id %></th>
      <td><%= c.user.fullname %></td>
      <td><%= c.description %></td>
      <td><%= link_to 'Delete', [c.video, c], method: :delete, data: { confirm: 'Are you sure?' }%></td>
    </tr>
    <% end %>
</tbody>
</table>
    </div>
  </div>

</div>
