<%= form_for(@video) do |f| %>
<% if @video.errors.any? %>
  <% @video.errors.full_messages.each do |error| %>
    <%= alert_generator error %>
  <% end %>
<% end %>

      <div class="form-group">
        <%= f.label :video_url %>
        <%= f.text_field :video_url, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: 'form-control', rows: 15, placeholder: 'Content' %>
      </div>

          <div class="form-group">
            <%= f.submit "Save Video", class: "btn btn-success btn-block" %>
          </div>

            <div class="form-group">
              <%= link_to "Cancel", videos_path, class: "btn btn-danger btn-block" %>
            </div>
<% end %>
