<div class="col-md-4">
  <div class="card">
    <iframe class="card-img-top" src='https://www.youtube.com/embed/<%= video.video_url %>' frameborder='0' allowfullscreen></iframe>
    <div class="card-body">
      <h4 class="card-title"><%= link_to video.title.truncate(50), video_path(video) %></h4>
      <p class="card-text"><%= simple_format truncate video.description, length: 150 %></p>
      <hr />
      <%= link_to "Edit", edit_video_path(video) if logged_in?(:site_admin) %> |
      <%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
</div>
