<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
    <%= link_to "Create Video", new_video_path, class: 'btn btn-info' %>
  </div>
</div>
<br />
  <div class="row">
      <%= render @videos %>
    </div>
  </div>
</div>
</div>
