<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>Create A new Video</h1>

      <%= render 'form', video_item: @video %>
    </div>
  </div>
</div>
