<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-8">
        <h1><%= @video.title %></h1>
        <br />
        <iframe src='https://www.youtube.com/embed/<%= @video.video_url %>' frameborder='0' allowfullscreen class="iframe"></iframe>
        <%= simple_format @video.description %>
    </div>
  </div>
</div>
<% if (user_signed_in?) %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3>Comments: </h3>
    <hr />
    <%= form_for([@video, @comment], :html => {class: "form-horizontal",
                                              role: "form"}) do |f| %>
      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :description, "Comment" %>
        </div>
        <div class="col-md-8">
          <%= f.text_area :description, rows: 8, class: "form-control",
                                    placeholder: "Enter Comment Here" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <%= f.submit "Submit Comment",
                            class: "btn btn-primary btn-lg btn-xlarge" %>
        </div>
      </div>
    <% end %>
    <hr />
  </div>
</div>
<% end %>
<% if @video.comments != 0 %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3>Prior Comments: </h3>
      <div id="messages">
        <%= render partial: 'comments/comments', object: @comments %>
      </div>
  </div>
</div>
<% else %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3>No Comments Yet!</h3>
  </div>
</div>
<% end %>
</div>
