<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <%= link_to "redradio.live", root_path, class: 'navbar-brand' %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to "Videos", videos_path, class: "nav-link" %>
            
          </li>
          <li class="nav-item active">
            
            <%= link_to "Comments", comments_path, class: "nav-link" %>
          </li>
        </ul>
      </div>
    </nav>
