<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <%= link_to( image_tag('redradionew_white.png', width: '120px'), root_path, class:'navbar-brand')  %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", root_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Videos", all_videos_path, class:"nav-link" %>
      </li>
      
    </ul>
    <ul class="navbar-nav my-2 my-lg-0">
      <% if (!user_signed_in?) %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: 'nav-link mr-auto' %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign Up", new_user_registration_path, class: 'nav-link mr-auto' %>
        </li>
      <% else %>
        <li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_user.fullname %></a>
             <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown01">
               <%= link_to "Settings", edit_user_registration_path, class: "dropdown-item" %>
               <%= link_to "Dashboard", videos_path, class: "dropdown-item" if logged_in?(:site_admin) %>
               <%= link_to "Log Out", destroy_user_session_path, class: "dropdown-item", method: :delete %>
             </div>
        </li>
        <% end %>
    </ul>
  </div>
</nav>
