<div class="container">
  <% if @videos.count != 0 %>
<section>
  <div class="row justify-content-md-center">
    <div class="col-md-8">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src='https://www.youtube.com/embed/<%= @video.video_url %>' allowfullscreen></iframe>
      </div>
      </div>
      <div class="col-md-4">

          <h4 class="card-title"><%= link_to @video.title.truncate(50), pages_video_path(@video) %></h4>
          <p class="card-text"><%= simple_format truncate @video.description, length: 100 %> <%= link_to "Read More", pages_video_path(@video), class: 'btn btn-small btn-dark' %>  | <%= fa_icon "comment" %> <%= @video.comments.count %></p>

    </div>

</div>
<br />
<%end %>
      <div class="row">
        <% @videos.each do |v| %>
        <div class="col-md-4">
        <div class="card">
          <iframe class="card-img-top" src='https://www.youtube.com/embed/<%= v.video_url %>' frameborder='0' allowfullscreen></iframe>
          <div class="card-body">
            <h4 class="card-title"><%= link_to v.title.truncate(50), pages_video_path(v) %></h4>
            <p class="card-text"><%= simple_format truncate v.description, length: 150 %> <%= link_to "Read More", pages_video_path(v), class: 'btn btn-small btn-dark' %></p>
            </div>
             <div class="card-footer text-muted">
            <%= fa_icon "comment" %> <%= v.comments.count %>
            </div>

        </div>

        </div>
        <% end %>
      </div>

</section>
    </div>
