<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-8">
        <h1><%= @video.title %></h1>
        <br />
        <iframe src='https://www.youtube.com/embed/<%= @video.video_url %>' frameborder='0' allowfullscreen class="iframe"></iframe>
        <%= simple_format @video.description %>

    </div>

  </div>
<hr />
<% if (user_signed_in?) %>
<div class="row justify-content-md-center">
  <div class="col-md-8">

    <%= form_for([@video, @comment], :html => {class: "form-horizontal",
                                              role: "form"}) do |f| %>
      <div class="form-group">
        <div class="form-group">
          <%= f.text_area :description, rows: 2, class: "form-control no-border",
                                    placeholder: "Enter Comment Here" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <%= f.submit "COMMENT", class: "btn btn-dark btn-lg" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
    <% else %>
    <div class="row justify-content-md-center">
      <div class="col-md-8">
    <p>
      You must be signed in to leave a comment
    </p>
      </div>
    </div>

<% end %>
<hr />
  <div class="col-md-12">
    <h3><%= @video.comments.count%> <%= 'Comment'.pluralize(@video.comments.count) %></h3>
      <div id="messages">
        <%= render partial: 'comments/comments', object: @comments %>
      </div>
  </div>
</div>
