<div class="container">
  <div class="row">
    <% @videos.each do |v| %>
    <div class="col-md-4">
    <div class="card">
      <iframe class="card-img-top" src='https://www.youtube.com/embed/<%= v.video_url %>' frameborder='0' allowfullscreen></iframe>
      <div class="card-body">
        <h4 class="card-title"><%= link_to v.title.truncate(50), pages_video_path(v) %></h4>
        <p class="card-text"><%= simple_format truncate v.description, length: 150 %></p>
        </div>
         <div class="card-footer text-muted">
        <%= link_to "Edit", edit_video_path(v) if logged_in?(:site_admin) %>
        </div>

    </div>
<br />
    </div>
    <br />
    <% end %>
  </div>
</div>
