<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-6">
      <div class="logincard card text-center">
        <div class="card-header">
          <h4>Sign In</h4>
        </div>
        <div class="card-body">
          <%= link_to "Sign In with Facebook", user_facebook_omniauth_authorize_path, class: "btn btn-primary" %>
          <div class="or">
                        <hr>
                        <span>OR</span>
                    </div>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="form-group">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end -%>

            <div class="actions">
              <%= f.submit "Sign In", class: "btn btn-info btn-block" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
