@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Quicksand');

// NAVBAR //

html {
	position: relative;
  min-height: 100%;
	-webkit-font-smoothing: antialiased;
}

body {
	margin-bottom: 100px;
	padding-top: 150px;
}



.bg-dark {
  background-color: #E02521 !important;
}

@media (min-width: 768px) {
	.navbar {
		height: 80px;
	}
.navbar-nav {
  margin-left: 30px;
  }
  .my-lg-0 {
      margin-right: 50px;
  }
}

.nav-item {
  margin-left: 10px;
}

.mr-auto {
  text-transform: uppercase;
  font-size: 1.2em;
}

.iframe {
  width: 100%;
  height: 400px;
}

.footer {
	text-align: center;
	position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
	color: #ffffff;
  background-color: #E02521;
	}

	.card {
	    background-color: #fafafa;
	    background-clip: border-box;
	    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	    border-radius: 0.25rem;
	}
	.card:hover{
	    background-color: #fff;
	    background-clip: border-box;
	    border-radius: 0.25rem;
			box-shadow: 0 7px 13px 0 rgba(224, 37, 33, 0.18), 0 4px 15px 0 rgba(224, 37, 33, 0.15);
	}
	.card-title a{
		text-decoration: none;
		color: #E02521;
		font-size: 18px;
	}

	.dropdown-item:active {
		background-color: #E02521;
	}

	.logincard .card-body .or span {
    font-size: 18px;
    margin: -32px auto 0;
    display: block;
    background-color: #fff;
    width: 50px;
}

.logincard {
	background-color: #fff;
	background-clip: border-box;
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	border-radius: 0.25rem;
}

.logincard:hover {
	background-color: #fff;
	background-clip: border-box;
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	border-radius: 0.25rem;
}

.logincard .card-body .or {
    margin-top: 40px;
    margin-bottom: 40px;
}

textarea {
		resize: none;
		overflow: auto;
}

.no-border {
    border: 0;
    box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
}
