@import "bootstrap";

html {
	position: relative;
  min-height: 100%;
	-webkit-font-smoothing: antialiased;
}

body {
	margin-bottom: 100px;
	padding-top: 70px;
}

.footer {
	text-align: center;
	position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
	color: #ffffff;
  background-color: #E02521;
	}

  textarea {
      resize: none;
  }

  .iframe {
    width: 100%;
    height: 400px;
  }

	.card-title a{
		text-decoration: none;
		color: #E02521;
		font-size: 18px;
	}
