<!DOCTYPE html>
<html>
  <head>
    <title>RedRadio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'dashboards', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/dashboard_nav' %>

    <div class="container">

          <%= yield %>
    </div>

      <%= render 'shared/footer' %>


  </body>
</html>
